<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dashboard</title>
</head>
<body>
    <div>
        <header>
            <div>
                <!-- Nav Bar From Sarah -->
            </div>
            <div>
                <!-- Nav Bar From Sarah -->
            </div>
        </header>
        <main>
            {% for item in items %}
                <div class="card">
                    <img src="{{item.image}}" alt="item image" class="card-img-top">
                    <div class="card-body">
                        <h2 class="card-title">{{item.name}}</h2>
                        <div class="card-text">
                            <p>{{item.prie}}</p>
                            <p>{{item.breif_desc}}</p>
                        </div>
                        <div>
                                <a href="/item/{{item.id}}" class="btn btn-info">View</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </main>
    </div>
</body>
</html>