<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dashboard</title>
</head>
<body class="container-md">
    <div>
        <nav class="navbar p-2" style="background-color: #e3f2fd;">
            <div class="row container-fluid">
                <h1 class="display-6 fw-bold ml-3">Second Hand Sourcing</h1>
                <div>
                    <a href="/item/add" class="btn btn-primary">Add Item</a>
                    <a href="/user/logout" class="btn btn-danger">Logout</a>
                </div>
            </div>
            <!-- <div class="row container-fluid ml-2">
                <p>Welcome, {{user.first_name}}!</p>
            </div> -->
        </nav>
        <div class="text-center m-4">
            <h1>Welcome, {{user.first_name}}!</h1>
        </div>
        <main class="d-flex justify-content-start m-3">
            {% for item in items %}
                <div class="card m-3 border-secondary" style="width: 18rem;">
                    <div class="card-header text-center" style="background-color: #e3f2fd;">
                        <h4 class="card-title">{{item.item_name}}</h4>
                    </div>
                    <div class="d-flex align-items-center justify-content-center" style="width: auto; height: 17rem;">
                        <img src="{{item.image}}" alt="item image" class="p-1 img-fluid" style="max-height:17rem;">
                    </div>
                    <div class="card-body align-items-end" style="height: 14rem;">
                        <div class="card-text">
                            <p><b>Cost:</b> ${{item.cost}}</p>
                            <p><b>Location:</b> {{item.location}}</p>
                            <p><b>Brief Description:</b> {{item.brief_desc}}</p>
                        </div>
                        <div>
                            <a href="/item/{{item.id}}" class="btn btn-info">View</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </main>
    </div>
</body>
</html>