<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>View Item</title>
</head>
<body class="container-md">
    <div>
        <nav class="navbar p-2" style="background-color: #e3f2fd;">
            <div class="row container-fluid">
                <h1 class="display-6 fw-bold">Second Hand Sourcing</h1>
                <div>
                    <a href="/dashboard" class="btn btn-primary">Dashboard</a>
                    <a href="/item/add" class="btn btn-primary">Add Item</a>
                    <a href="/user/logout" class="btn btn-primary">Logout</a>
                </div>
            </div>
        </nav>
        <!--Item Info-->
        <div class="row m-4 mt-5 border border-dark d-flex justify-content-center" style="width: 60rem">
            <div class="col-6 text-center d-flex align-items-center justify-content-center">
                <img class="rounded img-fluid me-5 border border-dark" src="{{item.image}}" alt="item image">
            </div>
            <div class="col-4 text-start ms-5 mt-3">
                <div class="row mb-2">
                    <h2 class="display-6 fw-bolder">{{item.item_name}}</h2>
                </div>
                <div class="row">
                    <p><b>Cost:</b> ${{item.cost}}</p>
                </div>
                <div class="row">
                    <p>
                        <span class="fw-semibold"><b>Location:</b> </span>
                        <span>{{item.location}}</span>
                    </p>
                </div>
                <div class="row">
                    <p class="mb-1 fw-semibold"><b>Details:</b></p>
                    <p>{{item.details}}</p>
                </div>
                <div class="row">
                    <p class="mb-1 fw-semibold"><b>Category: </b> </p>
                    <p class="ms-3">  {{item.category}}</p>
                </div>

                <!--Buy, Edit, Delete Buttons-->
                <div class="text-center">
                    <div class="mb-3">
                        <a href="/item/{{item.id}}/delete" class="btn btn-info btn-block">Buy</a>
                    </div>
                    <div class="mb-4">
                    {% if session['user_id'] == item.user_id %}
                        <a href="/item/{{item.id}}/edit" class="btn btn-outline-info">Edit</a>
                        <a href="/item/{{item.id}}/delete" class="btn btn-outline-info">Delete</a> 
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>